@font-face{
  font-family: 'Avengeance';
  src: url('../assets/fonts/AVENGEANCE\ HEROIC\ AVENGER\.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}

body{
  width: 80vw;
  margin: auto;
  margin-top: 7vh;
  font-family: 'Avengeance';
  box-sizing: border-box;
}

h1{
  font-size: 1.8em;
  font-weight: 550;
}
h2{
  font-size: 0.8em;
}

.Background{
  background-image: url('../assets/images/About.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  padding: 5vw;
  color: white;
}


