.Home {
    background-image: url('../assets/images/Home.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    font-size: 3em;
    padding: 5vw;
    color: white;
}

.Container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

.line-1{
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    margin-top:.4em; 
    font-size: .5em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    font-family: 'Anonymous Pro', monospace;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(20) 0.5s 1 normal both,
             blinkTextCursor 500ms steps(20) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 17em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
