.Home {
    background-image: url('../assets/images/Home.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    font-size: 3em;
    padding: 5vw;
    color: white;
}

.Container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

